{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/materialize/css/materialize.min.css"  media="screen,projection"/>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="../static/sass/main.scss">

    <title>Developer Interview Guide</title>
</head>
<body>
    
    
    

    {% comment %} <h3 id="siteName">Developer Interview Prep Guide</h3> {% endcomment %}
    <header class="navbar-fixed ">
    <!-- <hr/> -->
        <nav class="header-content teal lighten-2">
            <div class="nav-wrapper">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="left brand-logo">🏡</a>
                    </li>
                </ul>
                <!-- <div id="searchBar" class="center small">
                    <input type="search" placeholder="search for a term" class="center width-Quatre"><input type="submit" value="search">
                </div> -->
                <ul class="right">
                    <li class="dropdown-trigger nav-item" id="tree-nav" data-target="dropdown-categories">
                        <a href="{% url 'tree'%}">Tree <i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    
                    <li class="dropdown-trigger nav-item" data-target="dropdown-terms">
                        <a href="{% url 'cards_index'%}">Terms <i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'features_index'%}" class="">Features</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'design_board'%}" class="">Design</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
<main class="container">



    {% block content %}
    
    {% endblock %}
</main>

<footer class="page-footer teal lighten-2">
    <div>Sponsored by 🧡 Swarles 😻 & 🐈 Tucker</div>
</footer>

<script type="text/javascript" src="../static/materialize/js/materialize.min.js">

        $(".dropdown-trigger").dropdown({hover:false});


</script>

</body>
</html>