{% extends 'base.html' %}


{% block fabtoolbar%}
    {%include 'fabtoolbar.html'%}
{% endblock %}

{% block content %}




{% comment %} <p>CODE ON HOW TO DRAG AND DROP ELEMENTS</p> {% endcomment %}
<div id="designBoard" class="dragBox" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div id="createdObjectRow" class="designRow">
        <div class="draggable collapsible" id="drag1" draggable="true" ondragstart="drag(event)">
            <img src="../media/stockphotos/coffee1.jpg"  width="336px" height="69px">
        </div>
        <div class="draggable collapsible" id="drag0" draggable="true" ondragstart="drag(event)">
            <h3>LIZ</h3>
        </div>
        <div class="draggable collapsible" id="drag2" draggable="true" ondragstart="drag(event)">
            <h3>ZACK</h3>
        </div>
        <div class="draggable collapsible" id="drag3" draggable="true" ondragstart="drag(event)">
            <h3>JOSH</h3>
        </div>
        <div class="draggable collapsible" id="drag4" draggable="true" ondragstart="drag(event)">
            <h3>SWARLES</h3>
        </div>
        <div class="draggable collapsible" id="drag5" draggable="true" ondragstart="drag(event)">
            <h3>JACKSON</h3>
        </div>
            <img src="https://i.imgur.com/JAgCxDc.jpg"  width="auto" height="auto" class="draggable collapsible" id="drag6" draggable="true" ondragstart="drag(event)">
        
        <div class="draggable collapsible" id="drag7" draggable="true" ondragstart="drag(event)">
            <p >Swarles and Jackson are best friends and nothing can keep them apart except their love for food and grouchy moods.</p>
        </div>


    </div>
    <div id="designRow0" class="designRow">
        <div id="div1" class="dragBox col1 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div2" class="dragBox col2 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div3" class="dragBox col3 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div4" class="dragBox col4 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div5" class="dragBox col5 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div6" class="dragBox col6 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div7" class="dragBox col7 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div8" class="dragBox col8 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div9" class="dragBox col9 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div10" class="dragBox col10 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="designRow1" class="designRow">
        <div id="div11" class="dragBox col1 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div12" class="dragBox col2 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div13" class="dragBox col3 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div14" class="dragBox col4 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div15" class="dragBox col5 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div16" class="dragBox col6 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div17" class="dragBox col7 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div18" class="dragBox col8 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div19" class="dragBox col9 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div20" class="dragBox col10 draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="designRow2" class="designRow">
        <div id="div21" class="dragBox col1draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div22" class="dragBox col2draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div23" class="dragBox col3draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div24" class="dragBox col4draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div25" class="dragBox col5draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div26" class="dragBox col6draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div27" class="dragBox col7draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div28" class="dragBox col8draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div29" class="dragBox col9draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div30" class="dragBox col10draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="designRow3" class="designRow">
        <div id="div31" class="dragBox col1draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div32" class="dragBox col2draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div33" class="dragBox col3draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div34" class="dragBox col4draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div35" class="dragBox col5draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div36" class="dragBox col6draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div37" class="dragBox col7draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div38" class="dragBox col8draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div39" class="dragBox col9draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div40" class="dragBox col10draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="designRow4" class="designRow">
        <div id="div41" class="dragBox col1draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div42" class="dragBox col2draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div43" class="dragBox col3draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div44" class="dragBox col4draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div45" class="dragBox col5draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div46" class="dragBox col6draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div47" class="dragBox col7draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div48" class="dragBox col8draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div49" class="dragBox col9draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div50" class="dragBox col10draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="designRow5" class="designRow">
        <div id="div51" class="dragBox col1draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div52" class="dragBox col2draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div53" class="dragBox col3draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div54" class="dragBox col4draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div55" class="dragBox col5draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div56" class="dragBox col6draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div57" class="dragBox col7draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div58" class="dragBox col8draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div59" class="dragBox col9draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div60" class="dragBox col10draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="designRow6" class="designRow">
        <div id="div61" class="dragBox col1draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div62" class="dragBox col2draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div63" class="dragBox col3draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div64" class="dragBox col4draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div65" class="dragBox col5draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div66" class="dragBox col6draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div67" class="dragBox col7draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div68" class="dragBox col8draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div69" class="dragBox col9draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div70" class="dragBox col10draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="designRow7" class="designRow">
        <div id="div71" class="dragBox col1draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div72" class="dragBox col2draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div73" class="dragBox col3draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div74" class="dragBox col4draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div75" class="dragBox col5draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div76" class="dragBox col6draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div77" class="dragBox col7draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div78" class="dragBox col8draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div79" class="dragBox col9draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div80" class="dragBox col10draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="designRow8" class="designRow">
        <div id="div81" class="dragBox col1draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div82" class="dragBox col2draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div83" class="dragBox col3draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div84" class="dragBox col4draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div85" class="dragBox col5draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div86" class="dragBox col6draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div87" class="dragBox col7draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div88" class="dragBox col8draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div89" class="dragBox col9draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div90" class="dragBox col10draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div id="designRow9" class="designRow">
        <div id="div91" class="dragBox col1draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div92" class="dragBox col2draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div93" class="dragBox col3draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div94" class="dragBox col4draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div95" class="dragBox col5draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div96" class="dragBox col6draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div97" class="dragBox col7draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div98" class="dragBox col8draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div99" class="dragBox col9draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="div100" class="dragBox col10draggable" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
</div>


<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        let data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }

    $(document).ready(function(){
        $('.collapsible').collapsible();
    });

</script>
    {% comment %} {% endblock %} {% endcomment %}
{% endblock %}