<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Developer Interview Prep</title>
    <!-- <link rel="stylesheet" href="../styles.css">a -->


</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <div id="timeContainer">
        <h4>The current time is <br/>{{timezone}}</h4>
        <img src="https://media.giphy.com/media/qbjU1E19Mq26Q/giphy.gif" alt="time lapse of sunset over water">
        <p>{{now}}</p>
    </div>


    <!-- <hr/> -->

    <!-- <input type="search" placeholder="search for a term"><input type="submit" value="search">
    <div id="newCardHome">
        <h5>Create New Vocabulary Term</h5>
        <input type="text" placeholder="new vocabulary term">
        <label for="categories">Category</label>
        <select name="categories" id="categories" multiple>
            <option value="javaScript">JavaScript</option>
            <option value="python">Python</option>
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="django">Django</option>
            <option value="react">React</option>
            <option value="frontend">Front-End</option>
            <option value="backend">Back-End</option>
            <option value="api">API</option>
        </select>
        </br>
        <input type="text" placeholder="alternative names">
        <input type="text" placeholder="subterms">
        </br>
        <textarea name="define" id="" cols="30" rows="10" value="term's definition" placeholder="add the term's definition"></textarea>
        <input type="submit" value="create term">
    </div> -->


{% endblock %}
</body>
</html>