  {% comment %} <nav> <!-- navbar content here  --> </nav> {% endcomment %}

  {% comment %} <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../media/stockphotos/coffee1.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">lizkane222@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
 {% endcomment %}

    <div id="slide_sidebar" class="sidenav sidenav-fixed dragBox blue-grey lighten-4" ondrop="drop(event)" ondragover="allowDrop(event)">
    <a href="#" class="sidebar-trigger" data-target="slide_sidebar"><i class="material-icons">menu</i></a>
        <h4><a class="subheader" id="sidebarSubheader">Save the designs you want</a></h4>

        <ul id="sidebar-list">
            <li><div id="sideBar1" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar2" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar3" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar4" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar5" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar6" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar7" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar8" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar9" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar10" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar11" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar12" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar13" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar14" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar15" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar16" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar17" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar18" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar19" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar20" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar21" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar22" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar23" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar24" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar25" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar26" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar27" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar28" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar29" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar30" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar31" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar32" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar33" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar34" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar35" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar36" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar37" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar38" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar39" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
            <li><div id="sideBar40" class="dragbox" ondrop="drop(event)" ondragover="allowDrop(event)"></div></li>
        </ul>
    </div>



<script>
{% comment %} DRAGABLE {% endcomment %}
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        let data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }

{% comment %} SIDENAV {% endcomment %}
    {% comment %} const slide_sidebar = document.querySelectorAll(".sidebar"); {% endcomment %}
    {% comment %} M.Sidenav.init(slide_sidebar, {}); {% endcomment %}

   
</script>