* {
    box-sizing: border-box;
}

:root {
    // colors
    --white-main: rgba(245,245,245,1);
    --white-semi-transparent: rgba(245,245,245,.5);
    --grey-main: rgba(40,40,40,.1);
    --grey-semi-transparent: rgba(40,40,40,.1);;


    // fonts



}





// =========== START ===========//
// ========= BASE.HTML =========//
// =============================//

#timeContainer {
    display: flex;
    // justify-content: space-evenly;
    // align-items: flex-start;
    // align-content: space-around;
    max-width: 10vw;
    // background-image: url("https://media.giphy.com/media/qbjU1E19Mq26Q/giphy.gif") alt="time lapse of sunset over water";
}

header {

}

.width-Quatre {
    max-width: 25vw;
    margin: -10vh 0 ;
}
    
main {
    flex: 1 0 auto;
    display: flex;
    top: 6.7vh;
    min-width: 80vw;
    min-height: 90vh;
    max-height: 300vh;
    margin: 7vh 0 0 350px;
    // left: 320px;
    overflow: scroll;
    // min-width: 90vw;
    left: 320px;


}

#siteName {
    position: absolute;
    line-height: 3rem;
    font-size: 3rem;
    margin: 0vh 0vw;
    top: 0;
    max-height: 5vh;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 7vh;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    justify-self: start;
    align-items: flex-start;
    // margin: 0vh 5vw;
    // position: relative;

    // left: 15vw;
}

#logoName {
    font-size: .5em;
    margin-left: 1%;
}

#logoBrandMini {
    padding: 0;
    font-size: 2em;
    margin-top: 1.5vh;
}

// #searchBar {
//     max-width: 25vw;
//     display: inline-block;
// }


#navSearch {
    min-width: 30vw;
    max-width: 40vw;
    margin-right: -25vw;
    // max-width: 60vw;
    // position: relative;
    // margin-top: 0;
    // margin-left: 10vw;
    // margin-right: 0;
}

#tree-nav {
    // margin: 0 15vw;
}


main {
    flex: 1 0 auto;
    display: flex;
    min-width: 80vw;
    min-height: 90vh;
}

#mainOffset {
    left: 300px;
}

@media only screen and (max-width : 992px) {
    #mainOffset {
      padding-left: 100px;
    }
}



footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    margin-bottom: 0;
    left: 0;
    z-index: 1000;
    min-width: 100vw;
    align-content: center;
    align-items: center;
}

// =============================//
// ========= BASE.HTML =========//
// ============ END ============//

//......................................

// =========== START ===========//
// ========= DESIGN.HTML =========//
// =============================//

// fab-edit button animate to toolbar
.toolbar {
    top: 8vh;
    border: 5px 5px solid teal;
    position: fixed;
    max-height: 7vh;
    
    // min-height: 5vh;
    // padding: 1vh 0;
}

.fixed-action-btn.active ul {
    visibility: visible;
    border: 5px 5px solid teal;
    left: 300px;
}

.fixed-action-btn.active ul>li {
    margin: 0 5.5vw;
    height: 95%;
    align-self: center;
    border-radius: 50%;
}

#toolbarList {
    border: 5px 5px solid teal;
    // margin: 0 5vw;
}

.editIcons {
    align-self: center;
    // transition: ;
}

.editIcons:hover {
    transform: scale(1.2) 200ms;
}


#createdObjectRow {
    background-color: var(--white-main);
}

#designBoard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 82vw;
    max-width: 90vw;
    margin: 15vh 0 0 320px;
    min-height: 90vh;
    // max-height: 300vh;
    // background-color: aqua;
    position: absolute;
    right: 1vw;
    overflow: scroll;
}

// #designBoard>div {
//     min-width: 150px;
//     max-width: 50vw;
//     min-height: 70px;
//     max-height: 10%;
//     min-width: 100%;
//     max-width: 100%;
//     min-height: 8%;
//     max-height: 8%;
//     margin: .5%;
//     border: 1px solid rgba(40,40,40,.5);
//     background-color: rgb(50,100,175);
// }

#designBoard>.designRow {
    display: flex;
    // flex-wrap: nowrap;
    // flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    min-height: 5vh;
    max-height: 30vh;
    // margin: .5%;
    // border: 1px solid rgba(40,40,40,.1);
    // background-color: rgb(50,100,175);
}

.designRow>.dragBox {
    min-width: 80px;
    max-width: 50vw;
    min-height: 5vh;
    max-height: 30vh;
    border: .1px dotted var(--grey-semi-transparent);
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-flow: column wrap;
    // margin: 0 .25%;
    // padding: .25%;
    // background-color: rgb(50,100,175);
}

// .dragBox {
//     border: 1px solid rgb(55, 49, 143);
//     background-color: blueviolet;
//     padding: .25%;
// }


.draggable {
    max-width: 25vw;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: visible;
}

.draggable>:first-child {
    margin: 0 0;
    padding: 10px 10px;
    background-color: var(--white-semi-transparent);
    width: 100%;
    height: 100%;
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: visible;;
}


// SIDEBAR
#slide-out {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 2vh 2vw;
    position: relative;
    left: 0;
    top: 8vh;
    background-color: yellow;
    transform: translateX(-105%);
}
#slide_sidebar {
    top: 6.7vh;
    max-width: 10vw;
    min-width: 3vw;
}

#sidebar_list {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

#sidebar-list>li{
    margin: 1% 1%;
    display: flex;
    min-width: 8px;
    max-width: 98%;
    min-height: 5vh;
    max-height: 30vh;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1px solid var(--grey-semi-transparent);
    padding: 5px;
}

#slide_sidebar>h4 {
    // align-self: center;
    margin: 0 0;
    padding: 0 0;
    text-align: center;
}

#createdObjectRow {
    flex: -1;
}

#designRow0 {
    flex: 0;
}

#designRow1 {
    flex: 1;
}

#designRow2 {
    flex: 2;
}

#designRow3 {
    flex: 3;
}

#designRow4 {
    flex: 4;
}

#designRow5 {
    flex: 5;
}

#designRow6 {
    flex: 6;
}

#designRow7 {
    flex: 7;
}

#designRow8 {
    flex: 8;
}

#designRow9 {
    flex: 9;
}

.col1 {
    flex: 1;
}

.col2 {
    flex: 2;
}

.col3 {
    flex: 3;    
}

.col4 {
    flex: 4;    
}

.col5 {
    flex: 5;    
}

.col6 {
    flex: 6;    
}

.col7 {
    flex: 7;    
}

.col8 {
    flex: 8;    
}

.col9 {
    flex: 9;    
}

.col10 {
    flex: 10;    
}


// #div1 {
//     width: 350px;
//     height: 70px;
//     padding: 10px;
//     border: 1px solid rgb(55, 49, 143);
//   }



// =============================//
// ========= DESIGN.HTML =========//
// ============ END ============//





//......................................

// =========== START ===========//
// ========= HOME.HTML =========//
// =============================//

#timeContainer {
    display: flex;
    border: 2px 2px solid green;
    max-width: 25vw;
    max-height: 30vh;
    background-color: red;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

#timeContainer>h4 {
    // z-index:1;
    // margin-bottom: -15vh;
    // background-image: url("https://media.giphy.com/media/qbjU1E19Mq26Q/giphy.gif");
}
#timeContainer>img {
    // z-index:-1;
    display: absolute;
    width: 100%;
}

#timeContainer>p {
    // z-index:1;
}



#newCardHome {
    border: 3px solid salmon;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-content: flex-end; */
}

// =============================//
// ========= HOME.HTML =========//
// ============ END ============//


// =========== START ===========//
// ========= HOME.HTML =========//
// =============================//

.creatorPic {
    border-radius: 60%;
}


// =============================//
// ========= BASE.HTML =========//
// ============ END ============//

//......................................

// =========== START ===========//
// ========= CARD_INDEX.HTML =========//
// =============================//

// =============================//
// ========= CARD_INDEX.HTML =========//
// ============ END ============//

//......................................

// =========== START ===========//
// ========= CARD_DETAIL.HTML =========//
// =============================//

// =============================//
// ========= CARD_DETAIL.HTML =========//
// ============ END ============//

//......................................

// =========== START ===========//
// ========= FEATURE_INDEX.HTML =========//
// =============================//

// =============================//
// ========= FEATURE_INDEX.HTML =========//
// ============ END ============//

//......................................

// =========== START ===========//
// ========= TREE.HTML =========//
// =============================//

// =============================//
// ========= TREE.HTML =========//
// ============ END ============//

//......................................

// =========== START ===========//
// ========= FORMS.HTML =========//
// =============================//

// =============================//
// ========= FORMS.HTML =========//
// ============ END ============//

//......................................

// =========== START ===========//
// ========= .HTML =========//
// =============================//

// =============================//
// ========= .HTML =========//
// ============ END ============//

//......................................

// header.app-header {

//     display: none;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: flex-start;
//     min-height: $header-height;
//     line-height: $header-height;
//     background-color: $theme-lt;
//     color: $dark-tint-primary;
//     font-size: 24px;
//     border-bottom: $dark-tint-divider;
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 6;
//     border-width: 0;
//     border-color: $dark-tint-divider;
//     transition: background-color 0.5s ease;
// }

// .header-content {
//     flex: 1;
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: flex-start;
//     font-size: inherit;
//     line-height: inherit;
//     background-color: inherit;
//     color: inherit;
//     border-bottom-width: 1px;
//     border-bottom-style: solid;
//     border-bottom-color: inherit;
// }