{% extends 'base.html' %}

{% block fabhover%}
    {%include 'fabhover.html'%}
{% endblock %}

{% block content %}

<div class="mainWrapper">
  <div class="mainContent dragBox overflowScroll" ondrop="drop(event)" ondragover="allowDrop(event)">        

    <div class="">
      <h1>CARD DETAILS</h1>
      {% comment %} {% for card in card %} {% endcomment %}
        <div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{card.img}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{card.term}}<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
                <a href="#">{{card.category}}</a>
                <a href="#">{{card.topic}}</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{card.term}}<i class="material-icons right">close</i></span>

                <p>{{card.definition}}</p>
                <p>{{card.creator}}</p>
            </div>
        </div>
      {% comment %} {% endfor %} {% endcomment %}
          <!-- card actions -->
          <div class="card-action">
              <a href="{% url 'card_edit' card.id %}" class="btn blue">Edit</a>
              {% comment %} <a class="btn red" href="{% url 'cards_delete' card.id %}">Delete</a> {% endcomment %}
          </div>
    </div>

  </div>
</div>

{% endblock content %}