{% extends 'base.html' %}
{% block fabhover%}
{% endblock %}

{% block content %}


<div class="mainWrapper">
  <div class="mainContent dragBox overflowScroll" ondrop="drop(event)" ondragover="allowDrop(event)">        
    <div class="">
      <h1>CARD DETAILS</h1>
      {% for card in cards %}
        <div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{card.term}}<i class="material-icons right">more_vert</i></span>
                <p><a href="#">{{definition.card}}</a></p>
            </div>
            <div class="card-action">
                <a href="#">{{card.category}}</a>
                <a href="#">{{card.topic}}</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{card.term}}<i class="material-icons right">close</i></span>
                {% for definition in definitions %}
                <p>{{definition.card}}</p>
                {% endfor %}
                <p>{{card.creator}}</p>
            </div>
        </div>
      {% endfor %}
          <!-- card actions -->
          <div class="card-action">
              <a href="{% url 'card_edit' card.id %}" class="btn blue">Edit</a>
              <a class="btn red" href="{% url 'cards_delete' card.id %}">Delete</a>
          </div>
    </div>
  </div>
</div>

{% endblock %}